#message {
    position: relative;
    animation: message 10s;
    animation-fill-mode: forwards;
    transition: message linear;
    margin:6rem 2rem;
}

#message:hover{
    transition: var(--transition);
}

@keyframes message {
    from {
        opacity: 0;
        -webkit-transform: translateY(-200px);
        transform: translateY(-200px);
    }
    to {
        opacity: 1;
        -webkit-transform: translateX(0px) scale(0.9);
        transform: translateY(0px) scale(0.9);
    }
}

@-webkit-keyframes message {
    from {
        opacity: 0;
        -webkit-transform: translateY(-200px);
        transform: translateY(-200px);
    }
    to {
        opacity: 1;
        -webkit-transform: translateX(0px) scale(0.9);
        transform: translateY(0px) scale(0.9);
    }
}
.home-caroussel{
    /*border-radius: var(--radius);*/
    box-shadow: var(--light-shadow);
    background-color: var(--jumbotron);
    /*width: 100%;*/

}
.home-caroussel:hover{
    box-shadow: var(--dark-shadow);
    transition: var(--transition);
}
.home-caroussel-container{
    display: flex;
    flex-wrap:wrap;
}
.col-left{
    flex-grow:1;
    min-width:450px;
    width:550px;
    max-width: 1000px;
    margin:.5rem;
}
.col-right{
    min-width:350px;
    width:400px;
    max-width: 900px;
}
.border-rounded{
    border-radius: var(--radius) !important;
}
.carousel-inner{
    height: 40vh;
}
.home-caroussel-img{
    height: 28vh;
    width: 100%;
    object-fit: contain;
}
.replace-carousel{
    display: none;
}
@media screen and (max-width: 1366px){
    .col-right{
        width: 800px;
        max-width: 990px;
    }
    .col-left{
        min-width:450px;
        width:450px;
        max-width: 1000px;
    }
    #message{
        /*margin: 5rem 2rem 1rem 0;*/
        margin: 10rem 2rem 1rem 0;
    }
}@media screen and (max-width: 1024px){
    .col-right{
        width: 900px;
        max-width: 990px;
    }
    #message{
        /*margin-left: 4rem;*/
        margin: 1rem 2rem 1rem 6rem;

    }
}
@media screen and (max-width: 768px){
    #message{
        margin: 1rem;
    }
    .col-left{
        flex-grow:1;
        min-width:450px;
        width:550px;
        max-width: 1400px;
        margin:.5rem 4rem;
    }
    .col-right{
        width: 800px;
        max-width: 900px;
    }
}
@media screen and (max-width: 600px){
    .home-caroussel{
        /*width: 100%;*/
        /*min-width: 280px;*/
        /*max-width: 550px;*/
        /*margin: 0;*/
    }
    .col-right{
        min-width: 300px;
        width: 500px;
        max-width: 600px;
        margin: 0;

    }
}
