.footer{
    /*background-color: var(--mc-col);*/
    position: sticky;
    bottom: 10px;
    font-family: var(--font);

}
.footer-list{
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 1rem 0;
}
.footer-link{
    padding: .2rem 1rem;
    list-style: none;
    color: var(--light);
    transition: var(--transition);
}
.footer-link:hover{
    color: var(--dark);
}
.footer-btn{
    color: var(--light);
    background: var(--mc-col);
    border: 1px solid var(--light);
    padding: 0.3rem 0.15rem;
    display: inline-block;
    margin-top: 0.75rem;
    /*text-transform: uppercase;*/
    letter-spacing: var(--spacing);
    border-radius: var(--radius);
    -webkit-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition);
    /*width: 100px;*/
    outline: none;
}
.footer-btn:hover{
    background: var(--light);
    color: var(--mc-col);
}
